<template>
  <div class="restaurantes container mt-4">
    <h1>Restaurantes Finder</h1>
    <form v-on:submit.prevent="dosearch()">
        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="inputkeywords" placeholder="Search Restaurants" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </div>
    </form>
    <Placelist :keywords="$store.getters.keywords" :location="$store.getters.location" :places="places"   />

  </div>
</template>
<script>
import Placelist from '@/components/Placelist.vue';
import axios from 'axios';
import { async } from 'q';
export default {
    name: 'restaurants',

    components:{
        Placelist
    },
    data: function(){
        return ({
            inputkeywords : '',
            renderComponent: true,
            places: null
            // propKeyword : 
        })
    },
    methods:  {
        dosearch: function(){
            console.log('search', this.inputkeywords );
            this.$store.commit('setKeywords', this.inputkeywords );
            this.$store.commit('setLoading',true);

            // this.$store.commit('setPlaces',null);
            this.getLocation();
            // this.store
        },

        getLocation: async function(){
            // console.log('get location')
            let _this = this;
            let googleUrl = `https://maps.googleapis.com/maps/api/place/findplacefromtext/json?`
                      + `input=${_this.$store.getters.keywords}`
                      + `&key=${_this.$store.getters.googleKey}`
                      + `&inputtype=textquery`
                      + `&fields=photos,formatted_address,name,rating,opening_hours,geometry`;
            await axios.get(googleUrl )
                .then( (response) => {
                    let location = response.data.candidates[0].geometry.location;
                    let gps = `${location.lat},${location.lng}`;
                    console.log('response : ', location ,' ', gps);
                    this.$store.commit('setLocation', gps);
                    this.loadPlaces(_this.$store.getters.keywords, gps );
                });
        },

        loadPlaces: async function(keywords,locate){

            this.$store.commit('setPlaces',null);
            this.$store.commit('setLoading',true);
            this.restaurants = [];
            console.log('locate : ', locate ,' keywords : ', keywords );
            let googleMap = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
                        + `?location=${locate}`
                        + '&radius=1500'
                        + `&type=restaurant`
                        + `&keyword=${keywords}`
                        //   + `language=th`
                        + '&key=' + this.$store.getters.googleKey;
            await  axios
                .get( googleMap)
                .then( (response) => {
                    let places = response.data.results;
                    this.$store.commit('setPlaces',places);
                    this.places = places;
                    console.log('response ', places)
                    this.$store.commit('setLoading',false);               
                });
                // this.loading = false;
         },
    },
    /*
    created: function() {
        let key = this.$store.getters.keywords;
        console.log('is created function ', );
    }
    */
    
    created: function(){
        this.getLocation();        
    }
    
    
}
</script>