
<template>
    <div class="place-list">
        <div>Filter By {{ $store.getters.keywords }}</div>
        <div class="text-center" v-if="$store.getters.loading">Loading....</div>
        <div class="card mb-3" v-for="res in places" v-bind:key="res.id" v-else>
            <div class="row no-gutters">
                        <div class="col-md-2">
                            <img src="../assets/images/no-photo.png" class="card-img" alt="..." v-if="!res.photos">
                            <span v-for="photo in res.photos" v-bind:key="photo.photo_reference" v-else>
                                <img :src="`https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=${ photo.photo_reference }&key=${$store.getters.googleKey}`" class="card-img"/>
                            </span>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> {{ res.name }} <i class="fa fa-star-o" aria-hidden="true"></i></h5>
                                <p class="card-text">{{ res.vicinity }}</p>
                                <p class="card-text">
                                    Rating : 
                                    <span v-for="(rating ,idx) in ratings(res.rating)" v-bind:key="idx">
                                        <font-awesome-icon :icon="rating" :style="{ color: 'orange' }" />
                                    </span> ({{ res.rating }})
                                </p>
                            </div>
                        </div>
                </div>
            </div>            
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'placelist',
    data:function(){
        return ({
        rating: null
        });
    },
    props:{
        location : '',
        keywords: '',
        places:null
    },
    methods:{
        ratings: function(scored){
            let star = [];
            for(let i = 1; i <= 5; i++){
                if( scored > 1 ){
                    star.push('star')
                }else if( scored > .5 ){
                   star.push('star-half')
                }
                scored--;
            }
            return star;
        },
}
};
</script>
